#!{{ ansible_python['executable'] }}
# Copyright Vital Images Incorporated 2020

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps
import os

output = loads('''{{ {"configured": True,
                      "version": vc_standalone__version} | to_nice_json }}''')

print(dumps(output, sort_keys=True, indent=4))

# end.
