# {{ ansible_managed }}

[Unit]
Description=Zookeeper Service
After=syslog.target ntpd.target

[Service]
SyslogIdentifier=zookeeper
Type=simple
WorkingDirectory=/usr/lib/zookeeper
PIDFile=/var/run/zookeeper/zookeeper_server.pid
User=zookeeper
Group=zookeeper
ExecStart=/usr/lib/zookeeper/bin/zkServer.sh start
ExecStop=/usr/lib/zookeeper/bin/zkServer.sh stop
Restart=always
TimeoutSec=20
SuccessExitStatus=130 143
Restart=on-failure

[Install]
WantedBy=multi-user.target
